body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
}
a:hover, a:focus, button:hover, button:focus{
    outline: none;
}
section {
    padding: 60px 0;
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
    color: #2c2f39;
}
header ul.menu li {
    display: inline-block;
    text-align: left;
    padding-left: 18px;
}
/*Mobile Screen viewport*/
.mobile-screen{
    display: none;
}
#cross{
    display: none;
}

/*End Mobile Screene*/

header ul.menu li a {
    font-weight: 500;
    color: #575757;
    font-size: 12px;
}
header ul.menu {
    padding: 13px 0;
    text-align: end;
    line-height: 20px;
}

li.num {
    background: #edfeff;
    padding: 7px 5px;
}

.logo img {
    padding: 13px 0;
    max-width: 100%;
}
li.num a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


li.started {
    background: #000;
    display: inline-block;
    padding: 4px 5px;
    margin-left: -4px;
}

li.started a.btn span {
    color: #00f0ff;
    display: block;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    }

li.started a.btn {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
li.num {
    display: inline-block;
}
header ul.menu span.font-16 li a {
    font-size: 14px;
    font-weight:500;
}

.home-banner .container-fluid .row {/* margin-left: -30px; */}
.home-banner .banner-side {
    background: #fff;
    margin-left: 40px;
    margin-top: 50px;
    padding: 40px 0 40px 60px;
    position: relative;
    z-index: 1;
}

h2 {
    font-size: 33px;
    font-weight: 200;
    line-height: 35px;
    position: relative;
}

h1 {
    font-size: 35px;
    font-weight: 700;
}

p {font-size: 13px;font-weight: 400;color: #757575;padding: 20px 0;padding: 10px 30px 0 0px;}

a.btn.black {
    background: #000;
    padding: 7px 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
}

a.btn.black span {
    color: #00f0ff;
}

a.btn.blue {
    background: #0059ff;
    padding: 7px 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
    margin-left: 5px;
}

a.btn.blue span {
    color: #00f0ff;
}

.home-banner .banner-side::before {
    content: "";
    width: 150px;
    height: 445px;
    background: #dbfdff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    }

.home-banner .container-fluid{
        position: relative;
    }
.home-banner .container-fluid::after {
    content: "";
    background: url("../images/home-after.png");
    background-repeat: no-repeat;
    width: 158px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 228px;
    z-index: 2;
    }
    .home-banner .banner-side::after {
    content: "";
    width: 81px;
    height: 5px;
    background: #f0f0f0;
    position: absolute;
    left: -100px;
    bottom: -17px;
}
.home-banner::before {content: "";background: url("../images/home_banner-after.png");width: 160px;height: 219px;background-repeat: no-repeat;position: absolute;left: 0;bottom: -85px;z-index: 1;}

.home-banner {
    position: relative;
    padding: 0;
}

.home-banner img {
    width: 916px;
    height: 460px;
    position: absolute;
    left: 0;
}

.banner-side h2::before {
    display: none;
}
.banner-side p {
    /* padding: 18px 156px 18px 0; */
}
.publish h2 {
    /* font-size: 35px; */
    /* position: relative; */
}

.publish h1 {
    /* font-size: 41px; */
    /* line-height: 50px; */
}

.chat a.btn {
    background: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
    padding: 7px 13px;
}


.chat {
    padding: 6px 8px;
    outline: 1px solid #ebebeb;
    display: inline-block;
    }

.chat p span {
    color: #0059ff;
}
.chat img {
    padding: 4px 11px 5px 20px;
    display: inline-block;
}
.chat p {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 15px;
    color: #000;
}
h2::before {
    content: "";
    width: 60px;
    height: 3px;
    background: #0059ff;
    position: absolute;
    left: 0;
    top: -16px;
}    
.logos-bar {
    margin: 0 15px;
    padding: 30px 0;
}           
.estab img {
    position: absolute;
    right: -60px;
    max-width: 100%;
}
.pub {
    padding: 61px 0 0 0;
    position: relative;
}
.estab{
    position: relative;
}

.estab::before {
    content: "";
    background: url("../images/estab-before.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 64px;
    bottom: -93px;
    z-index: 1;
    }
.pub::before {
    content: "";
    width: 66px;
    height: 200px;
    background: #dbfdff;
    position: absolute;
    left: -218px;
    bottom: 25px;
}

.estab::after {
    content: "";
    width: 60px;
    height: 16px;
    background: #0059ff;
    position: absolute;
    right: -60px;
    bottom: -56px;
    }

.wiki-service h1 {
    font-size: 23px;
    line-height: 30px;
    padding-top: 20px;
}

.wiki-service h1 {
    position: relative;
}

.wiki-service h1::before {
    content: "";
    width: 85px;
    height: 5px;
    background:#0059ff;
    position:absolute;
    left: 0px;
    top: -6px;
    }


section.wiki-service p {
    padding: 13px 0;
}

section.wiki-service p span {
    color: #0059ff;
    font-style: italic;
}

a.btn.lightblue {
    background: #c9fcff;
    padding: 7px 30px;
    font-size: 13px;
    font-weight: 500;
}
.wiki-service {
    position: relative;
    padding-top: 80px;
}

section.wiki-service::after {
    content: "";
    width: 132px;
    height: 438px;
    background: url("../images/wiki-service-after.png");
    background-repeat: no-repeat;
    /* border-radius: 20px; */
    position: absolute;
    bottom: -255px;
    right: 0;
    }
.key .wiki-cirle img {
    max-width: 70%;
    position: absolute;
    left: 60px;
}
section.key {
    padding: 80px 0;
}

.wiki-cirle {
    position: relative;
    z-index: 1;
}

.wiki-cirle::before {
    content: "";
    background: #0053fe;
    width: 500px;
    height: 250px;
    position: absolute;
    top: 137px;
    left: -77px;
    z-index: -1;
}

.key .row {
    position: relative;
}
.key .row::before {
    content: "";
    background: url("../images/estab-before.png");
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -111px;
    left: -10px;
    z-index: 2;
    }
.wiki-cirle::after {
    content: "";
    background: #f8edfe;
    width: 420px;
    height: 377px;
    position: absolute;
    top: -40px;
    right: -70px;
    z-index: -2;
}
.key .key-fact {
    position: relative;
    z-index: 1;
    margin-left: -57px;
    padding: 30px 190px 0 0;
}

.key .key-fact ul li {
    display: inline-block;
    padding: 10px 0px 20px 0;
}

.key .key-fact h2 {
    /* font-size: 53px; */
    font-weight: 300;
    line-height: 10px;
    padding: 20px 0;
}

.key .key-fact ul li h1 {
    font-size: 40px;
    text-align: left;
}

.key .key-fact ul li h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
}
.left-80{
    margin-left:80px;
}
.premium {
    text-align: center;
    padding: 100px 0;
}

.premium h2 {
    font-size: 44px;
}
.premium h1 {
    /* font-size: 34px; */
    /* line-height: 45px; */
}
.premium .pre-box {
    text-align: left;
    padding: 20px 10px 15px 20px;
}

.premium .pre-box img {
    display: inline-block;
}

.premium .pre-box h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    display: inline-block;
    margin-top: revert;
}
.premium .pre-box p {
    /* font-size: 14px; */
    /* padding: 0; */
}
.premium .pre-box:hover {
    background: #c9fcff;
    border-radius: 5px;
    box-shadow: 16px 11px 0px #e8e8e8;
}

.premium .pre-box p:hover {/* color: #fff; */}
.pre-box.pre-box-after {
    position: relative;
}

.pre-box.pre-box-after::after {
    content: "";
    width: 380px;
    height: 345px;
    background: linear-gradient(90deg, rgba(220,251,252,1) 0, rgba(254,255,255,1) 100%, rgba(0,212,255,1) 100%);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.genius-presence .container{
    background: url("../images/genius-presence.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: 50% 30%; */
    padding: 39px 90px;
    position: absolute;
    top: 0;
    left: 60px;
}
.genius-presence h1 {
    display: inline-block;
    font-size: 26px;
}

.genius-presence .chat {
    float: right;
    margin-top: 8px;
    background: #000;
    outline: 1px solid;
}

.genius-presence .chat a.btn {
    background: #fff;
    color: #000;
}

.genius-presence .chat span {color: #fff;}

.genius-presence .chat p {
    color: #fff;
}
.reason .best-choice {
    padding: 59px 0;
    position: relative;
}

.reason h3 {
    display: inline-block;
    font-size: 17px;
}

.reason span {
    font-size: 45px;
    font-weight: 500;
    color: #bdf0f3;
    padding: 10px 10px 10px 0;
}

.reason p {
    padding: 0;
    font-size: 12px;
}

.best-choice::before {
    content: "";
    background: url("../images/home-after.png");
    width: 139px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
    left: -6px;
    top: 0;
    }

.best-choice::after {
    content: "";
    background: linear-gradient(90deg, rgba(254,255,255,1) 0%, rgba(219,253,255,1) 100%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    width: 510px;
    height: 210px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.best-choice h1 {
    font-size: 35px;
    display: inline-block;
    letter-spacing: -1px;
}
.publish {
    padding: 10px 0;
}

.feedback h1 {
    font-size: 30px;
    line-height: 31px;
}

.feedback .feed-box {
    box-shadow: 5px 2px 25px 15px #f0f0f0;
    padding: 20px 30px;
    max-width: 70%;
    border-radius: 6px;
    margin-top: 30px;
    position: relative;
}

.feedback .feed-box p {
    /* padding: 12px 0; */
}
/* .feedback .feed-box::before {content: far fa-quote-right;font-size: 50px;position: absolute;left: 0;top: 0;} */

.feedback .feed-box a.btn {
    color: #0059ff;
    font-size: 14px;
    padding: 0;
}
.feedback .feed-yellow {
    width: 100%;
    padding: 80px 0px;
    position: relative;
}
.premium h2::before {
    display: none;
}

section.genius-presence {
    position: relative;
}

.reason {
    padding-top: 90px;
    padding-bottom: 0;
}

.feedback .feed-yellow::before {
    content: "";
    width: 670px;
    height: 405px;
    background: #fffae0;
    position: absolute;
    top: 0;
    right: -76px;
    z-index: -1;
}
.feedback .feed-yellow::after {
    content: "";
    background: url("../images/estab-before.png");
    background-repeat: no-repeat;
    width:100px;
    height: 73px;
    position: absolute;
    right: -75px;
    top: 30px;
    }
    .feedback .feed-box i {
    font-size: 51px;
    position: absolute;
    color: #dee9ff;
    left: 0;
    top: -20px;
}
.feedback .feed-yellow a.btn.blue {
    margin: 0;
}
.feedback {
    position: relative;
    /* padding: 40px 0; */
}

.feedback::before {content: "";background: url("../images/circle-filed.png");background-repeat: no-repeat;width: 50px;height: 300px;position: absolute;left: 0;top: -80px;}
footer {
    background: #000;
    padding: 60px 0;
    position: relative;
}
footer ul {
    line-height: 41px;
}

footer ul.link li a {
    color: #fff;
    font-size: 15px;
}

footer ul li i.fab.fa-linkedin {
    color: #006eaf;
    font-size: 30px;
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
}

footer ul li i.fab.fa-facebook-square {
    color: #315294;
    font-size: 30px;
    margin: 10px 10px 0 10px;
    background: #fff;
    border-radius: 5px;
}

footer ul li i.fab.fa-twitter-square {
    color: #00ade6;
    font-size: 30px;
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
}
ul.link.cal li a {
    font-size: 20px;
    font-weight: 600;
}
footer::after {
    content: "";
    background: url("../images/circle.png");
    background-repeat: no-repeat;
    width: 56px;
    height: 210px;
    position: absolute;
    top: -125px;
    right: 0;
}
footer .container {
    position: relative;
}

footer .container::after {
    content: "";
    background: #0059ff;
    background-repeat: no-repeat;
    width: 418px;
    height: 51px;
    position: absolute;
    bottom: -60px;
    right: -61px;
}
.feedback .feed-yellow p {padding-bottom: 20px;}
.row.padding {
    padding-top: 45px;
}

.about.home-banner h2::before {
    display: none;
}

.about.home-banner .banner-side::after {
    display: none;
}

.about.home-banner .container-fluid::after {
    right: 666px;
    }
    .about.key {
    padding: 81px 0;
}


    
